<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="changeState()">
    {{toggleTitle}}
  </button>
<div *ngIf="isActor">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/listActors" routerLinkActive="active">List </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addActor" routerLinkActive="active">Add </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updateActor" routerLinkActive="active">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/deleteActor" routerLinkActive="active">Delete</a>
            </li>
        </ul>
    </nav>
</div>
<div *ngIf="isMovie">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/listMovies" routerLinkActive="active">List </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addMovie" routerLinkActive="active">Add</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updateMovie" routerLinkActive="active">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/addActorInMovie" routerLinkActive="active">Add actor in Movie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/deleteMovie" routerLinkActive="active">Delete</a>
            </li>
        </ul>
    </nav>
</div>

<router-outlet></router-outlet>
<!--
<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="changeState()">
    {{toggleTitle}}
  </button>

<div *ngIf="isActor">
    <app-actor></app-actor>
</div>
<div *ngIf="isMovie">
    <app-movie></app-movie>
</div>

    <router-outlet></router-outlet>
-->

